<template>
    <div class="row">
        <div class="header center-align">
            Nächster Vortrag:
        </div>
        <div class="center-align">

            <div class=" countdown">
                <countdown :time="cnt" :transform="transformTime" @end="countdownEnd">
                    <template slot-scope="props">{{ props.hours }}:{{ props.minutes }}:{{ props.seconds }}</template>
                </countdown>
            </div>
            <div class="desc">{{next.desc}}</div>
            <div class="speaker">{{next.speaker}}</div>

        </div>
        <div class="col s8 offset-s2 upcoming">
            <div class="header-upcoming center-align">Als nächstes</div>
            <ul class="collection">
                <li class="collection-item row" v-for="task in upcoming">
                    <div class="col s9"><span class="time">{{task.time | formatDate}}</span> {{task.desc}}</div>
                    <div class="col s3 right-align">{{task.speaker}}</div>
                </li>
            </ul>
        </div>
    </div>

</template>
<script>
    import dataList from '../data'

    export default {
        data() {
            return {
                dataList: dataList,
                forceList: null,
            };
        },
        computed: {
            // a computed getter
            list: function () {
                let list = this.dataList;
                if (!list) {
                    list = this.forceList;
                }
                // `this` points to the vm instance
                return list
                    .filter(task => task.time > new Date())
                    .sort((a, b) => a.time > b.time ? 1 : -1)
            },
            upcoming: function () {
                return this.list.slice(1)
            },
            next: function () {
                // `this` points to the vm instance
                return this.list[0]
            },
            cnt: function () {
                return (this.next.time.getTime() - (new Date()).getTime())
            }
        },
        methods: {
            transformTime(props) {
                Object.entries(props).forEach(([key, value]) => {
                    // Adds leading zero
                    const digits = value < 10 ? `0${value}` : value;
                    props[key] = `${digits}`;
                });
                return props;
            },
            countdownEnd() {
                let list = this.dataList;
                this.dataList = this.forceList;
                this.forceList = list;

            }
        }
    }
</script>