@import "~hack-font/build/web/hack.css";
@import "~materialize-css/sass/components/color-variables";
@import "~materialize-css/sass/components/color-classes";
@import "~materialize-css/sass/components/variables";
@import "~materialize-css/sass/components/global";
@import "~materialize-css/sass/components/normalize";
@import "~materialize-css/sass/components/grid";

body {
  font-family: Hack, serif;
  font-weight: bold;
  color: white;
  background-color: black;
}

.header {
  margin-top: 1em;
  font-size: 3em;
}

.countdown {
  margin-top: 0.5em;
  font-size: 8em;
  color: limegreen;
}

.desc {
  margin-top: 0.5em;
  font-size: 5em;
}

.speaker {
  font-size: 3em;
}

.upcoming {
  margin-top: 4em;
  font-size: 2em;

  .time {
    color: limegreen;
  }

  .collection .collection-item {
    background-color: black !important;
  }
}

.header-upcoming {

  font-size: 1.5em;
}